*{
  margin:0px;
  padding:5px:
}
i{
  height: 20px;
}
.logo{
height: 40px;
margin-top: -10px;
padding: 2px;
}
.styling{

height: 50px;
}
.img{
position: absolute;
top: 480px;


}
